.input {
  border: 1px solid #abd;
}

.delete {
  margin-left: 20px;
  color: #ac0c;
}

.addItem {
  margin-left: 20px;
}

.show {
  opacity: 1;
  animation: show 1s 1;
}

.hide {
  animation: hide 1s 1;
  animation-fill-mode: forwards;
}

@keyframes show {
  from {
    font-size: 0;
    opacity: 0;
  }
  to {
    font-size: 14px;
    opacity: 1;
  }
}
@keyframes hide {
  form {
    font-size: 14px;
    opacity: 1;
  }
  to {
    font-size: 0;
    opacity: 0;
  }
}

/* 入场之前 */
.test-enter {
  opacity: 0;
}
/* 正在入场 */
.test-enter-active {
  opacity: 1;
  transition: opacity 2000ms;
}
/* 入场结束 */
.test-enter-done {
  opacity: 1;
}
/* 准备退出 */
.test-exit {
  opacity: 1;
}
/* 正在退出 */
.test-exit-active {
  opacity: 0;
  transition: opacity 2000ms;
}
/* 退出结束 */
.test-exit-done {
  opacity: 0;
}
